<!DOCTYPE html>
<html>
<head>
  <title>Loggable activity</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    "loggable_activity/application", media: "all" %>
  <%= javascript_include_tag 'loggable_activity/application', defer: true %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>

</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
