<article>
    <div class="grid">
      <div>
        <b>Action</b>
      </div>
      <div>
        <b>Record</b>
      </div>
      <div>
        <b>Actor</b>
      </div>
      <div>
        <b>Created At</b>
      </div>
    </div>
</article>
  <body>
    <% @activities.each do |activity| %>
      <article>
        <details>
          <summary>
            <header>
              <div class="grid">
                <div>
                  <%= activity_action(activity) %>
                </div>
                <div>
                  <%= t(activity.record_display_name) %>
                </div>
                <div>
                  <%= t(activity.actor_display_name) %>
                </div>
                <div>
                  <%= l(activity.created_at, format: :long) %>
                </div>
              </div>
            </header>
          </summary>
          <pre>
            <code class="language-json">
              <%= format_json_for_display(activity.attrs) %>
            </code>
          </pre>
        </details>
      </article>
  </body>
<% end %>
<script>
  Prism.highlightAll();
</script>
