<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :user_type, style: "display: block" %>
    <%= form.text_field :user_type %>
  </div>

  <div class="form-group">
    <%= form.label :company_id, "Company" %>
    <%= form.collection_select :company_id, @companies, :id, :name, { prompt: "Select a Company" }, { class: 'form-control' } %>
</div>

  <%= form.fields_for :profile do |profile_fields| %>
    <div>
      <%= profile_fields.label :bio, style: "display: block" %>
      <%= profile_fields.text_area :bio, class: 'form-control' %>
    </div>
    
    <div>
      <%= profile_fields.label :location, style: "display: block" %>
      <%= profile_fields.text_field :location, class: 'form-control' %>
    </div>
  <% end %>
  </br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
